<% content_for :title do %>
  MCraft｜協力したい人 依頼募集中の人
<% end %>

<% content_for :css do %>
  <%= stylesheet_link_tag 'users' %>
<% end %>

<div class="container">
  <div class="row">
    <% @user.each do |user| %>
      <div class="profile-card">
        <%= link_to user_path(current_user) do %>
          <div class="col-md-3">
            <h5 class="card-title">
              <%= image_tag "etc/debugIcon.jpg", style: "width: 100px;height: 100px;object-fit: cover;", class: "img-fluid" %>
              <%= user.name %>
            </h5>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
