<% content_for :title do %>
  ホーム｜MCraft
<% end %>
<div class="container">
  <%= image_tag "top.jpg", class: "top-image" %>
  <h1 class="text-center font-weight-bold margin-top-bottom">MCraftとは？</h1>
  <p class="margin-bottom-long", style="font-size: 18px">MCraftは、Minecraftの専用コミュニティーです。突然ですが、Minecraftのサーバー開発している方は絶対こう思いますよね？<br>「あー、開発したいけど開発してくれる人(スタッフ)が居ないわー。開発中止しよ。」<br>はい、要するに開発に協力してくれる人が余りにも足りないと言うことです。このサイトは、そういった方向けに誰でも開発してくれる人を募集することが出来ます。<br>募集に限らず、開発に協力したい人も募集しているサーバーを探すことが出来ます。また、他にもサーバーの宣伝　仕事依頼(商用目的も可)にも利用可能です。是非、ご活用ください。</p>
  <h1 class="text-center font-weight-bold margin-top-bottom">What is MCraft?</h1>
  <p class="margin-bottom-long", style="font-size: 18px">MCraft is a dedicated community for Minecraft. If you are developing a Minecraft server, you definitely think this, right? <br> "Ah, I want to develop, but there is no person (staff) to develop it. Stop development." <br> Yes, in short, there are not enough people to cooperate with development. is. This site can recruit anyone to develop for such people. <br> Not limited to recruitment, you can search for servers that are also recruiting people who want to cooperate in development. Please use it by all means</p>
  <h1 class="text-center font-weight-bold">MEMBER</h1>
  <p class="text-center">サイト運営者</p>
  <div class="card text-center">
    <div style="text-align: center">
      <%= image_tag "MyIcon.jpg", style: "width: 18rem;" %>
    </div>
    <div class="card-body">
      <p class="card-text"><p>Mineck/まいんっく(旧名: RilyAbyss)</p></p>
      <p class="card-text">自称低スペックPC系プログラマー。主に、MinecraftをしておりSpigotプラグインを開発していた。<br>最近は、サーバー運営からも抜け得意としたRuby言語を使用してプログラミングをしている</p>
    </div>
  </div>
  <p class="bg-white", style="margin-top: 100px"></p>

</div>