<% content_for :title do %>
<!--  MCraft｜<%#= @user.name %>-->
  MCraft｜aa
<% end %>
<head>
  <style>
      .header {
          background: #a29bfe;
          text-align: center;
      }
      .card {
          min-width: 220px;
          max-width: 270px;
          margin-bottom: 10px !important;
          margin: auto;
      }
      .sidebar {
          min-height: 500px;
      }
  </style>
</head>
<div class="container">
  <%= @user.name %>
  aa
</div>